@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

$main-color: #0097EB;
$secondary-color: white;
$category-hover-color: #337ab7;
$white: #ffffff;
$white-hover: #f5f5f5;
$main-font: 'Open Sans Hebrew', sans-serif;
