.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 194px;
  width: 25%;
  height: 100%;
  z-index: 600;
  position: fixed;
  top: 75px;
  right: 0;
}

.sidebar-filler {
  height: 400px;
  background-color: white;
}
