@import '../../styles/variables';

.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 75px;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 600;
  background-color: $white;
  @media (max-width: 767px) {
    width: 100%;
  }
}
